body {
    background-color:aliceblue;
}
.header {
    margin-top: 30px;    
}
.header .addBtn:active {
    background-color: rgb(165, 165, 165);
}
.header-content .my-delete-element{
    left: 300px;    
    position: absolute;
}
.header-content .my-top-element{
    left: 340px;
    position: absolute;
}
.header-content .my-bot-element{
    left: 385px;
    position: absolute;
}
.header-content .my-before-element{
    left: 430px;
    position: absolute;
}
.header-content .my-down-element{
    left: 470px;
    position: absolute;
}
.listText {
    margin-top: 30px;
}
.header-user {
    text-align: center;
}
.header-user #myOwner{
    margin-top: 10px;
}
.header .header-add input {
    margin-top: 20px;
}
.header .header-content {
    margin-top: 15px;
}
.header .header-full-task button {
    margin-top: 10px;
}