body {
    background-color:aliceblue;
}
.header {
    margin-top: 30px;    
}
.header-add .header-content div:hover {
    background-color: rgb(195, 218, 218);
}
.header button:hover {
    background-color: rgb(82, 94, 100);
}
.tabColor {
    background-color: aquamarine;
}
.header-content input{
    box-sizing: border-box;
}
.header-content .my-delete-element{
    margin-top: 5px;
    font-size: 15px;
    padding: 3px 15px;
    left: 400px;    
    position: absolute;
}
.header-content .my-top-element{
    margin-top: 5px;
    font-size: 18px;
    padding: 1px 15px;
    left: 465px;
    position: absolute;
}
.header-content .my-bot-element{
    margin-top: 5px;
    font-size: 18px;
    padding: 1px 15px;
    left: 520px;
    position: absolute;
}
.header-content .my-before-element{
    margin-top: 5px;
    font-size: 18px;
    padding: 1px 15px;
    left: 575px;
    position: absolute;
}
.header-content .my-down-element{
    margin-top: 5px;
    font-size: 18px;
    padding: 1px 15px;
    left: 633px;
    position: absolute;
}
.listText {
    margin-top: 30px;
}
.header-user #myOwner{
    margin-top: 10px;
}
.header .header-add input {
    margin-top: 20px;
}
.header #mySearch {
    margin-top: 10px;
}
.header .header-content {
    margin-top: 25px;
}
.header .header-full-task button {
    margin-top: 10px;
}