.header {
    margin-top: 30px;    
}
.header-content .my-delete-element{
    left: 300px;    
    position: absolute;
}
.header-content .my-top-element{
    left: 358px;
    position: absolute;
}
.header-content .my-bot-element{
    left: 400px;
    position: absolute;
}
.header-content .my-before-element{
    left: 463px;
    position: absolute;
}
.header-content .my-down-element{
    left: 500px;
    position: absolute;
}
.listText {
    margin-top: 30px;
}